
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #F8F9FA;
    padding: 0;
}

p {
    color: #2C3E50;
    margin-left: 60px;
    font-size: 20px;

}

h2 {
    font-size: 15px;

}

header {
    background-color: #565BEA;
    color: #FEFEFF;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    height:var(--header-size);
}

.invisible {
    display: none;
}

.banner {
    margin: 0;
}

#toggleMenu {
    background-color: #7C80FC;
    color: #FEFEFF;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    top: 25px;
    left: 0;
    border-radius: 0% 20% 20% 0%;

}

#toggleMenu img {
    width: 50px;
    aspect-ratio: 1;
}

#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(#407FFF,#997BDE 80%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.slide {
    position: relative;
}

.slide::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: 1.5px;
    background-color: white;
    transform: scaleX(0);
    transition: 0.2s transform;
    transform-origin: right;
}

.slide:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.test1 ul {
    padding: 2rem 0 0 0;
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.test1 ul li {
    width: min-content;
}

.test1 {
    margin-top: 20px;
}

.test1 a {
    text-decoration: none;
    font-size: 20px;
    color: #FEFEFF;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.test1 a:hover {
    translate: 0 -4px;
}

#sidebar-bottom {
    position: absolute;
    width: 100%;
    padding: 0;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    /*space-around space-between*/
    align-items: center;
}

#sidebar-bottom a {
    display: block;
    transition: 0.3s;

    margin-bottom: 70px;

}

#sidebar-bottom ul {
    padding: 0;
    margin: 0;
    display: flex;
}

#sidebar-bottom li {
    display: inline-block;
    margin: 0 0px;
    
}

main {
    margin-top: 280px;
    padding: 20px;
}

#maison {
    background-color: #7C80FC;
}

.socialmedia {
    width: 50px;
    aspect-ratio: 1;
}

.myInput {
    text-align: center;
}

.barre {
    text-align: center;
    margin: 0 auto; 
    width: 50%;
    margin-top: 130px;
    padding: 20px;

}

input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
}

thead {
    text-align: center;
    margin: 0 auto;


}

th, td {
	text-align: left;
	padding: 8px;
	border-bottom: 1px solid #FEFEFF;
}

.mytable {
    margin: 0 auto;
    text-align: left; 
    border-collapse: collapse;
}

.podium {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 2rem;
    font-family:"Dela Gothic One", cursive;
}

.podium .position .index {
    font-size: 5rem;
}

.podium .first {
    background-color: #eade28;
}

.podium .second {
    height: 8rem;
    background-color: silver;
}

.podium .third {
    height: 6rem;
    background-color: #da9c4d;
    position: relative;
}

.podium .eleve {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.podium .position {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 10rem) {
    .podium .position {
        width: 7rem;
    }

    .podium .eleve .temps {
        text-align: center;
    }

    .podium .position {
        width: 7rem;
    }

    .podium .first {
        height: 20rem;
        translate: 7rem;
    }

    .podium .second {
        height: 18rem;
        translate: -7rem;
    }

    .podium .third {
        text-align: center;
        height: 16rem;
    }

    .podium .first .eleve {
        top: -30%;
    }

    .podium .second .eleve {
        top: -40%;
    }

    .podium .third .eleve {
        top: -50%;
    }

    .podium .eleve .nom {
        font-size: 1.5rem;
    }
}

@media (min-width: 50rem) {
    .podium .position {
        width: 18rem;
    }

    .podium .first {
        translate: 18rem;
        animation: fadeIn 3.5s ease-in-out;
    }

    .podium .second {
        translate: -18rem;
        animation: fadeIn 2s ease-in-out;
    }

    .podium .third {
        animation: fadeIn 1s ease-in-out;
    }

    .podium .first .eleve,
    .podium .second .eleve {
        top: -25%;
    }

    .podium .third .eleve {
        top: -28%;
    }

    .podium .eleve .nom {
        font-size: 2rem;
    }
}