{% extends 'base.html' %}

{% block content %}
	<form>
		<!-- Boutons de catégories -->
		<label>
			<button type="button" class="categoryButton" data-category="action">Fille</button>
		</label>
		<label>
			<button type="button" class="categoryButton" data-category="action">Garçon</button>
		</label>
		<label>
			<button type="button" class="categoryButton" data-category="action">Benjamin</button>
		</label>
		<label>
			<button type="button" class="categoryButton" data-category="action">Cadet</button>
		</label>
		<label>
			<button type="button" class="categoryButton" data-category="action">Fille</button>
		</label>
	</form>
	<section id="games">
		<!-- Ici, nous allons afficher la liste des jeux vidéo -->
	</section>
{% endblock %}
