{% extends 'base.html' %}

{% block content %}
	<section class="resultats">
		<div class="options">
			<select name="categories" id="categories">
				<option value="Minime">Minime</option>
				<option value="Cadet">Cadet</option>
				<option value="Junior">Junior</option>
				<option value="Benjamin">Benjamin</option>
			</select>
	
			<input type="number" id="dossard" placeholder="Numéro de dossard" min="0">
	
			<button id="rechercher">Rechercher</button>
		</div>

		<div class="erreur" id="erreur"></div>
	</section>
{% endblock %}